body {
   font: 24px 'Gilroy', sans-serif;
   color:white; 
   font-weight: 300;
   background: black;
   }
*,
*::before,
*::after {
   box-sizing: border-box;
} 
ul[class],
ol[class] {
  padding: 0;
}  
body, h1, h2, h3, h4, p, ul[class], ol[class], li {
   margin: 0;
}
input, button, select {
  font: inherit;
}
a{
   text-decoration: none;
   color: white;
   transition: 0.45s;
}
button {
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
   border: 1px solid white;
   border-radius: 56px;
   height: 62px;
   width: 287px;
   transition: 0.45s;
 }
h2{
   font-weight: bold;
   font-size: 34px;
   line-height: 28px;
   margin-bottom: 40px;
}
h3{
   font-size: 24px;
   line-height: 28px;
   font-weight: 300;
}
h4{
   font-weight: 300;
   font-size: 20px;
   line-height: 20px;
}
section {
   background: black;
   width: 100%;
   height: 100%;
}
.pink-font{
   color: lightpink;
}
.black-font{
   color: #000;
   /* font-weight: 500; */
}
/* -----MAIN-PAGE---------------------------- */

.settings-page, .main-page, .categories-page, .quiz-page {
   display: none;
}
.active-page{
   display: block;
}

.main-page{
   background-image: url('assets/img/bg.png');
   background-repeat: no-repeat;
   background-position: center center;
   /* background-size: cover; */
   width: 100%;
   height: 100%;
   /* height: 100vh; */
   overflow: hidden;
   position: relative;
}
.main-page-container{
   margin: 0px auto;
   padding-top: 348px;
   display: flex;
   flex-flow: column;
   align-items: center;
   height: 100vh;
   /* width: 100%; */
}

.main-page-container-logo{
   background-image: url('assets/svg/logo.png');
   background-repeat: no-repeat;
   background-size: cover;
   width: 440px;
   height: 164px;
}
.main-page-container-buttons{
   display: flex;
   flex-flow: row;
   margin-top: 165px;
}

.main-page-footer, .setting-page-footer{
   display: flex;
   flex-flow: row;
   justify-content: space-between;
   font: 14px;
   padding-left: 40px;
   padding-right: 40px;
   /* margin-top: 165px; */
   /* background: black; */
   height: 79px;
   position: absolute;
   bottom: 0;
   width: 100%;
}
.main-page-footer h5{
   font: 16px;
   font-weight: 300;
}
.main-page-footer img{
   width: 85px;
   height: 31px; 
   margin-top: 15px;
}

.main-page-btn{
   margin-right: 40px;
}
.main-page-container-settings svg, .categories-page-container-settings svg {
   color: white;
   position: absolute;
   z-index: 5;
   top: 46px;
   right: 70px;
   width: 36px;
   height: 36px;
   cursor: pointer;
}
.main-page-container-settings, .categories-page-container-settings svg{
   transition: 0.45s;
}
.main-page-container-settings:hover, .categories-page-container-settings svg:hover{
   opacity: 0.6;
}

button:hover{
   background-color: white;
   color: #000;
}
a:hover{
   opacity: 0.6;
}

/* ---------SETTING--PAGE------------------------------- */
.settings-page{
   background: black;
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
}

.settings-page-container{
   margin: 0 auto;
   display: flex;
   flex-flow: row;
   padding: 190px 71px 130px 105px;
   height: 100vh;
}

.settings-page-container-settings{
   width: 50%;
   /* border: 2px solid darkorange; */
}

.settings-page-btn{
  margin-left: 8px; 
  margin-top: auto;
}
.settings-page-container-buttons{
   display: flex;
   justify-content: flex-end;
   width: 50%;
}

.settings-volume{
   margin-bottom: 80px;
}
.settings-time{
   margin-bottom: 140px;
}
.setting-volume-icons{
   display: flex;
   justify-content: space-between;
   width: 502px;
}

.settings-volume-slider input{
   margin-bottom: 4px;
   /* line style */
   width: 492px;
   height: 3px;
   background: #A4A4A4;
   background: linear-gradient(to right,lightpink 0%, lightpink 47%, #C4C4C4 40%, #C4C4C4 100%);
}
input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 15px;
   height: 15px;
   border-radius: 7.5px;
   background: #fff;
   cursor: pointer;
}
input{
   -webkit-appearance: none;
   cursor: pointer;
}
.number{
   all: unset;
   width: 50px;
   text-align: center;
}

.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.setting-volume-icons svg{
   width: 36px;
   height: 36px;
   color: #A4A4A4;
   cursor: pointer;
}

.setting-time-game{
   display: flex;
   justify-content: left;
   margin-bottom: 80px;
}

.setting-time-text{
   margin-right: 16px;
}
.switch-btn {
   display: inline-block;
   width: 48px; 
   height: 24px;
   border-radius: 19px; 
   background: #bfbfbf; 
   z-index: 0;
   margin: 0;
   padding: 0;
   border: none;
   cursor: pointer;
   position: relative;
   transition-duration: 300ms;
   margin-bottom: 10px; 
   margin-top: 1px;
 }
 .switch-btn::after {
   content: "";
   height: 16px; 
   width: 16px; 
   border-radius: 50%;
   background: #fff; 
   top: 4px; 
   left: 3px; 
   transition-duration: 300ms;
   position: absolute;
   z-index: 1;
 }
 .switch-on {
   background: lightpink;
 }
 .switch-on::after {
   left: 27px;
 }
 
.setting-time-answer button{
   width: 36px;
   height: 36px;
   color: #000;
   background: #fff;
   border-radius: 50%;

}

/* ----------CATEGORIES------------------------------- */

.categories-page-container{
   height: 100vh;
   padding: 30px 70px 0px 70px;
   display: flex;
   flex-flow: column;
   
}

.categories-page-container-settings{
   display: flex;
   justify-content: flex-start;
   /* border: 2px solid firebrick; */
   padding: 0px 0 120px 0;
}

.categories-page-container-logo{
   background-image: url('assets/svg/logo.png');
   background-repeat: no-repeat;
   background-size: cover;
   width: 169px;
   height: 63px;
   margin-right: 10px;
}
.categories-page-container-menu{
   display: flex;
   flex-flow: row;
   justify-content: space-between;
}
.categories-page-container-menu h3{
   margin-left: 90px;
   margin-top: 20px;
   cursor: pointer;
   transition: 0.5s;
}
.categories-page-container-menu h3:hover{
  color: lightpink;
}

.categories-page-container-categories{
  /* margin: 0 auto; */
  display: grid; 
  grid-template-columns: 195px 195px 195px 195px 195px 195px; 
  grid-template-rows: 239px 239px; 
  gap: 40px 20px; 
  grid-template-areas: 
    ". . . . . ."
    ". . . . . ."; 
    /* border: 2px solid yellow; */
   justify-content: center;
}

.category-card{
   cursor: pointer;
   transition: 0.5s;
   border-radius: 20px;
   overflow: hidden;
   position: relative;
}
.category-card-description{
   display: flex;
   flex-flow: row;
   justify-content: space-between;
   padding: 10px 10px 10px 10px;
}
.category-card-content img{
   border-radius: 20px;
   /* object-fit: cover; */
   height: 100%;
   width: 100%;
   /* position: relative; */
}

.category-card-content{
   filter: grayscale(100%);
}
.category-card-content-active{
   filter: grayscale(0%);
}


.category-card:hover .category-card-content-description{
   opacity: 1;
   transition: 0.5s;
}

.category-card-content-description{
   opacity: 0;
   display: flex;
   flex-flow: row;
   background: lightpink;
   height: 50px;
   padding: 15px;
   justify-content: center;
   position: absolute;
   bottom: 0px;
   width: 100%;
}
.category-card-content-description svg{
   width: 20px;
   height: 20px;
   color: #000;
   margin-right: 10px;
}

.mobile-cat-menu{
   display: none;
}

/* ---QUIZ PAGE----------------------------------------- */
.quiz-page{
   position: relative;
   /* display: none; */
}

.quiz-page-container{
   display: flex;
   flex-flow: column;
   margin: 0 auto;
   /* border: 2px solid wheat; */
   width: 845px;
   padding: 56px 10px;
}

.quiz-page-container-timer{
   display: flex;
   flex-flow: row;
   justify-content: space-between;
}
.quiz-page-container-timer svg{
   width: 25px;
   height: 25px;
   cursor: pointer;
   transition: 0.5s;
}
.quiz-page-container-timer svg:hover{
   opacity: 0.6;
}

.quiz-page-timer input {
   width: 680px;
   height: 4px;
}

.quiz-page-container-picture{
   /* width: 825px;
   height: 492px; */
    width:  34em;
   height: 21em; 
   border: 2px solid blue;
   border-radius: 25px;
   position: relative;
}

.quiz-page-container-buttons{
   margin: 0 auto;
   margin-top: 45px;
   display: grid;
   grid-template-areas: 
   ". ."
   ". ."; 
   grid-template-columns: 400px 400px; 
   grid-template-rows: 68px 68px; 
   gap: 10px 20px; 
}
.quiz-page-container-buttons button{
   width: 100%;
}

.quiz-slider{
   position: absolute;
   display: flex;
   flex-flow: row;
   bottom: 420px;
   /* justify-content: center; */
   z-index: 2;
   right: 520px;
}
.quiz-slide{
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: #bfbfbf;
   margin-right: 20px;
   cursor: pointer;
}
.active-quiz-slide{
   background: lightpink;
}

.quiz-page-container-timer h2 {
   font-size: 24px;
   font-weight: 200px;
}

/* -------ALERT----------------------------------- */

.pink-button{
   color: #000;
   border: none;
   background-color: lightpink;
}

.quit-alert{
   display: none;
   z-index: 20;
   width: 580px;
   height: 340px;
   background-color: #fff;
   border-radius: 20px;
   position: absolute;
   /* position: fixed; */
   top: 0; left: 0; bottom: 0; right: 0;
   margin: auto;
   display: flex;
   flex-flow: column;
   opacity: 0;  
}
.quit-alert-text{
   margin: 122px 122px 35px 122px;
   text-align: center;
}
.quit-alert-buttons{
   display: flex;
   flex-flow: row;
   margin: 0px 35px 29px 35px;
   justify-content: space-between;
}
.quit-alert button, .gameover-alert button{
   color: #000;
   border: 1px solid #000;
   width: 48%;
}
.quit-alert svg{
   position: absolute;
   top:15px;
   right: 15px;
   color: #000;
   cursor: pointer;
   width: 25px;
   height: 25px;
   transition: 0.5s;
}
.quit-alert svg:hover{
   opacity: 0.6;
}
.quit-alert button:hover{
   opacity: 0.7;
}

.gameover-alert{
   z-index: 10;
   width: 580px;
   height: 608px;
   background-color: #fff;
   border-radius: 20px;
   position: absolute;
   position: fixed;
   top: 0; left: 0; bottom: 0; right: 0;
   margin: auto;
   display: flex;
   flex-flow: column;
}
.gameover-alert-img{
   margin: 87px 178px 51px 178px;
}
.gameover-alert h2, .gameover-alert p{
   color: #000;
   text-align: center;
}


/* ---media for main---------------------- */

@media (min-width: 520px) and (max-width: 1024px) {
   .body{
      font: 24px;
   }
   .main-page button{
      height: 56px;
      width: 268px;
      white-space: nowrap;
   }
   a, h5{
      font-size: 16px;
   }
   .main-page{
      /* width: 100vw;
      height: 100vh; */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
   }
   .main-page-container{
      margin: 0px auto;
      /* margin: 0px 223px; */
      padding-top: 327px;
      display: flex;
      flex-flow: column;
      align-items: center;
   }
   .main-page-container-logo{
      margin: 0 auto;
      width: 321px;
      height: 120px;
      margin-bottom: 99px;
   }
   .main-page-container-buttons{
      display: flex;
      flex-flow: column;
   }
   .main-page-btn{
      margin-top: 20px;
      margin-right: 0px;
   }

   .main-page-container-settings svg{
      color: white;
      position: absolute;
      z-index: 5;
      top: 36px;
      right: 36px;
      width: 34px;
      height: 34px;
   }
 
   .main-page-footer{
      margin-top: 250px;
   }
   .main-page-footer img{
      width: 61px;
      height: 23px; 
      margin-top: 15px;
   }
}

@media (min-width: 320px) and (max-width: 519px) {
   .main-page{
      position: fixed;
      background-size: cover;
   }
   .body{
      font: 24px;
   }
   button{
      height: 56px;
      white-space: nowrap;
   }
   a, h5{
      font-size: 14px;
   }
   .main-page-container{
      margin: 0px auto;
      /* margin: 0px 46px; */
      /* border: 2px solid white; */
      padding-top: 270px;
      display: flex;
      flex-flow: column;
      align-items: center;
   }
   .main-page-container-logo{
      margin: 0 auto;
      width: 166px;
      height: 62px;
      margin-bottom: 12px;
   }

   .main-page-btn{
      margin-top: 20px;
      margin-right: 0px;
   }
   .main-page-container-buttons{
      display: flex;
      flex-flow: column;
      margin-top: 0px;
   }

   .main-page-container-settings svg{
      position: absolute;
      top: 22px;
      right: 22px;
      width: 34px;
      height: 34px;
   }
 
   .main-page-footer{
      bottom: -30px;
   }
   .main-page-footer img{
      width: 61px;
      height: 23px; 
      margin-top: 15px;
   }
}

/* ----media for settings-------------------------------------- */

@media (min-width: 520px) and (max-width: 1024px) {
   .settings-page-btn{
      height: 56px;
      width: 300px;
      white-space: nowrap;
      margin-left: 0;
      margin-right: 8px;
   }
   .settings-page-container-buttons{
      display: flex;
      justify-content: center;
      width: 100%;
   }
   .settings-page-container-settings{
      width: 100%;
   }

   .settings-page-container {
      display: flex;
      flex-flow: column;
      padding: 190px 90px 0 90px;
  }

   .settings-volume-slider input{
      width: 100%;
      height: 3px;
   }

   .setting-volume-icons{
      display: flex;
      justify-content: space-between;
      width: 100%;
   }   
}

@media (min-width: 320px) and (max-width: 519px) {
   h2{
      font-size: 30px;
      margin-bottom: 20px;
   }

   .settings-page-container-buttons{
      display: flex;
      justify-content: center;
      width: 100%;
   }
   .settings-page-container-settings{
      width: 100%;
   }

   .settings-page-container {
      display: flex;
      flex-flow: column;
      padding: 100px 31px 0px 31px;
  }

  .settings-volume, .settings-time, .setting-time-game{
   margin-bottom: 55px;
   }
  
  .settings-volume-slider input{
    width: 100%;
    height: 3px;
   }
   .setting-volume-icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
   }   

   .setting-page-footer{
      display: none;
   }
}

/* ------- media for section------------------------- */

@media (min-width: 520px) and (max-width: 1024px) {

   .categories-page-container-categories{
      display: grid; 
      grid-template-columns: 200px 200px 200px; 
      grid-template-rows: 251px 251px 251px; 
      gap: 40px 23px; 
      grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."; 
        /* border: 2px solid yellow; */
       justify-content: center;
       padding-bottom: 50px;
    }

    .categories-footer{
       display: none;
    }

    .categories-page-container-menu h3{
      margin-left: 28px;
      margin-top: 20px;
   }
   .categories-page-container-settings{
      padding-bottom: 60px;
   }
}

@media (min-width: 320px) and (max-width: 519px) {
   h5{
      font-size: 12px;
      line-height: 0px;
      letter-spacing: -0.5px;
      font-weight: 400;
   }
   .categories-page{ 
      position: relative;
   }
   .categories-page-container {
      padding: 30px 16px 0px 16px;
  }
  .categories-page-container-settings{
   padding: 0px 0px 40px 0px;
  }
   .categories-page-container-categories{
      display: grid; 
      grid-template-columns: 159px 159px; 
      grid-template-rows: 200px 200px 200px 200px 200px 200px; 
      gap: 40px 23px; 
      grid-template-areas: 
        ". ."
        ". ."
        ". ."
        ". ."
        ". ."
        ". ."; 
        /* border: 2px solid yellow; */
       justify-content: center;
       padding-bottom: 50px;
    }

   .categories-footer, .categories-page-container-menu{
       display: none;
   }

   .categories-page-container-settings svg{
      right: 16px;
   }

   .mobile-cat-menu{
      display: block;
   }
   .categories-page-menu{
      width: 100%;
      padding: 16px 50px 0px 50px;
      position: absolute;
      bottom: 0;
      position: fixed;
      background-color: #000;
      display: flex;
      justify-content: space-between;
   }

   .category-menu-item{
      display: flex;
      flex-flow: column;
      transition: 0.5s;
   }   
   .category-menu-item svg{ 
      color: #fff;
      height: 26px;
      width: 27px;
      margin: 0px 0px -10px 1px;
   }

   .category-item svg{
      margin-left: 13px;
   }

   .category-menu-item:hover{
      opacity: 0.6;
   }
  
}

/* -----------media for quiz------------------------ */

@media (min-width: 520px) and (max-width: 1024px) {

   h2{
      font-size: 22px;
   }
   .quiz-page-container-timer h2 {
      font-size: 22px;
      font-weight: 200px;
   }
   .quiz-page-container{
      width: 100%;
      padding: 59px 51px;
      height: 100vh;
   }

   .quiz-page-container-picture{
      width: 100%;
      height: 500px;
       /* width:  34em;
      height: 21em;  */
      border: 2px solid blue;
      position: relative;
   }

   .quiz-page-timer input {
      width: 520px;
      height: 4px;
   }

   .quiz-page-container-buttons{
      display: grid;
      grid-template-areas: 
      ". ."
      ". ."; 
      grid-template-columns: 323px 323px; 
      grid-template-rows: 48px 48px; 
      gap: 25px 20px; 
   }
}

@media (min-width: 320px) and (max-width: 519px){
   h2{
      font-weight: 500;
    font-size: 22px;
   }
   .quiz-page-container-timer h2 {
      font-size: 18px;
      font-weight: 100px;
   }
   .quiz-page{
      position: fixed;
   }
   .quiz-page-container{
      width: 100%;
      padding: 24px 18px;
      height: 100vh;
   }
   .quiz-page-container-timer svg{
      width: 20px;
      height: 20px;
      margin-top: 5px;
   }

   .quiz-page-container-picture{
      width: 100%;
      height: 294px;
       /* width:  34em;
      height: 21em;  */
      border: 2px solid blue;
      position: relative;
   }

   .quiz-page-container-buttons{
      margin-top: 25px;
      display: grid;
      grid-template-areas: 
      ". ."
      ". ."; 
      grid-template-columns: 158px 158px; 
      grid-template-rows: 48px 48px; 
      gap: 15px 10px; 
   }
   
   .quiz-page-timer input {
      width: 230px;
      height: 3px;
   }

   .quiz-page .main-page-footer {
      display: none;
   }

   .quiz-page-container-question{
      margin: 40px 0px 3px 5px;
   }
}

/* ----ALERT-------------------------- */
@media (min-width: 320px) and (max-width: 519px){

   .quit-alert{
      z-index: 10;
      width: 343px;
      height: 258px; 
   }

   .quit-alert-text{
      margin: 70px 72px 35px 72px;
      text-align: center;
   }

}
